@import "../variables/variables.scss";

.buttoncta {
  width: 100px;
  color: $text-white;
  font-weight: 200;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: .8em;
  font-size: .8rem;
  border-radius: 10px;
  background-color: $accent-color;
}

