@import '../variables/variables.scss';
.hero__content-container {
    display: flex;
    margin-top: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .hero__cta-container{
        display: flex;
        justify-content: space-between;
        gap: .5rem;
        width: 80%;
        max-width: 320px;
        padding: .2rem;
        border-radius: 10px;
        background-color: $accent-color-light;
        .cta-outter-content{
          font-size: .8rem;
          display: flex;
          justify-content: space-between;
          gap: .5rem;
          align-items: center;
          text-decoration: none;
          color: $accent-color;
        }
      }
}