@import '../variables/variables.scss';
.order-section{
  .order-section__container {
    display: flex;
    margin: 2.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > * {
      text-align: center;
    }
    & h1 {
      width: 60%;
      margin: 1rem 0;
      & span{
        color: $accent-color;
      }
    }
    & p {
      width: 60%;
      color: $main-text-light;
    }
  }
}